.section-searchbar {
  padding-bottom: 42px;
  background: #f9f9f9;

  .container {
    position: relative;
  }

  h3 {
    font-family: $font-montserrat;
    font-size: 30px;
    font-weight: 650;
    color: $text-color;
    letter-spacing: .85px;
  }

  .search-wrapper {
    position: relative;
    width: 100%;
    top: -107px;
    z-index: 10;

    padding: 30px 50px;
    height: 210px;

    background: $white;
    border-top: 8px solid $brand-color;
    @include boxshadow(0 0 31px rgba($black,0.13));

    &--form {
      margin-top: 31px;

      .input-group {
        flex-wrap: nowrap;
        height: 50px;
      }

      .form-control {
        height: 100%;

        font-family: $font-montserrat;
        font-size: 18px;
        color: #8c8c8c;
        letter-spacing: .5px;

        border-radius: 0;
      }

      .btn {
        padding: 0 30px;
      }
    }
  }

  .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: -36px;

    li {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 220px;
      height: 135px;
      font-family: $font-montserrat;
      font-size: 16px;
      color: $black;
      text-align: center;
    }
  }

  @media (max-width: 1440px) {
    h3 {
      font-size: 24px;
    }

    .search-wrapper {
      padding: 23px 30px;
      margin: 0 auto;
      max-width: 900px;


      &--form {
        .input-group {
          height: 40px;
        }

        .form-control {
          font-size: 15px;
        }

        .btn {
          padding: 0 13px;
          font-size: 12px;
        }
      }
    }

    .features-wrapper {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }

    .select-group:after {
      top: 13px;
      right: 10px;
      font-size: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
        max-width: 1355px;
    }
  }

  @include respond-to(md-down) {
    h3 {
      font-size: 21px;
      letter-spacing: 0;
      line-height: 1.5;
    }
    
    .search-wrapper {
      top: -40px;
      width: 100%;

      &--form {
        margin-top: 15px;
        
        .input-group {
          height: 35px;
        }

        .form-control {
          font-size: 14px;
        }

        .btn {
          padding: 0 10px;
          font-size: 11px;
        }
      }
    }

    .features-wrapper {
      flex-wrap: wrap;
      margin-top: 10px;

      li {
        transform: scale(.8);
      }
    }

    .select-group:after {
      top: 10px;
    }
  }

  @include respond-to(sm-down) {
    .search-wrapper {
      padding: 20px 15px;
      height: auto;
      
      &--form {
        .input-group:not(.form-group) {
          margin-bottom: 15px;
        }
      }
    }
  }
}