.section-bestseller,
.section-featured {
  padding: 100px 0;

  .row {
    margin-top: 60px;
  }

  .btn {
    display: block;
    margin-top: 70px;
  }
  
  @media screen and (min-width: 1200px) {
    .container {
        max-width: 1490px;
    }
  }
}

.product-holder {
  position: relative;
  text-align: center;

  .image-holder {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 350px;
  }

  p {
    font-family: $font-montserrat;
    color: $text-color;
  }

  .product-title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .product-price {
    font-size: 18px;
    font-weight: 500;
  }

  .badge-sale {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.badge-sale {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-family: $font-montserrat;
  font-size: 16px;
  font-weight: 650;
  color: $white;

  background-color: $brand-color;
  border-radius: 30px;
}