.section-about {
  padding: 115px 0;
  
  .section-description {
    margin: 0 auto;
    max-width: 95%;
  }

  .floristella-icon {
    margin-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1490px;
    }
  }
}