.section-bestseller,
.section-featured {
  padding: 100px 0;

  .row {
    margin-top: 60px;
  }

  .btn {
    display: block;
    margin-top: 70px;
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1490px;
    }
  }

  @media (max-width: 1440px) {
    padding: 60px 0;

    .container {
      max-width: 960px;
    }
  }

  @include respond-to(lg-down) {
    padding: 50px 0;
  }

  @include respond-to(sm-down) {
    .btn {
      margin-top: 10px;
    }
  }
}

.section-featured {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -14%;
    right: 0;
    z-index: -1;
    width: 280px;
    height: 400px;
    background-image: url('../../assets/images/pink-flower-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (max-width: 1440px) {
    &:after {
      width: 210px;
      height: 290px;
    }
  }

  @include respond-to(lg-down) {
    &:after {
      width: 170px;
      height: 240px;
    }
  }

  @include respond-to(sm-down) {
    &:after {
      display: none;
    }
  }
}
