.section-collections {
  padding: 100px 0;
  
  .swiper-wrapper {
    .swiper-slide {
      width: 500px !important;
      max-width: 500px;
      opacity: .5;

      &-active {
        opacity: 1;
      }
    }
  }

  .swiper-navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 80px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    top: unset;
    left: unset;
    right: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    width: 65px;
    height: 65px;
    
    border: 2px solid $brand-color;
    border-radius: 50%;

    &:after {
      @extend .fal;
      font-size: 25px;
      color: $brand-color;
    }
  }

  .swiper-button-next {
    &:after {
      content: '\f061';
    }
  }

  .swiper-button-prev {
    margin-right: 30px;

    &:after {
      content: '\f060';
    }
  }

  .collection-holder {
    text-align: center;

    .image-holder {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 25px;
      width: 100%;
      height: 355px;
      background-color: #ffe8f3;

      img {
        // margin-left: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .collection-title {
      margin-bottom: 7px;

      font-family: $font-montserrat;
      font-size: 24px;
      font-weight: 650;
    }

    .collection-description {
      margin: 0 auto 20px;
      max-width: 95%;
      
      font-family: $font-montserrat;
      font-size: 15px;
    }

    a {
      font-family: $font-montserrat;
      font-size: 16px;
      color: $brand-color;
      text-decoration: underline;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1680px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}