.section-testimonials {
  position: relative;
  padding: 65px 0 140px;
  
  &:after {
    content: '';
    position: absolute;
    bottom: -40%;
    right: 0;
    z-index: -1;
    width: 190px;
    height: 350px;
    background-image: url('../../assets/images/pink-flower2-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .row {
    margin-top: 45px;
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1510px;
    }
  }
  
  @media (max-width: 1440px) {
    padding: 50px 0 100px;

    &:after {
      bottom: -32%;
      right: 0;
      z-index: -1;
      width: 130px;
      height: 230px;
    }

    .container {
      max-width: 960px;
    }
  }

  @include respond-to(sm-down) {
    padding: 30px 0;

    &:after {
      display: none;
    }
    
    .row {
      justify-content: center;
      
      > div {
        margin-bottom: 80px;
      }
    }
  }

  @include respond-to(xs) {
    .row > div {
      margin-bottom: 60px;
    }
  }
}

.testimonial-holder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 35px 25px 55px;

  height: 100%;
  min-height: 315px;

  background: $white;
  border: 1px solid #e1e1e1;

  &:before {
    content: '';
    position: absolute;
    left: 38%;
    bottom: -23px;
    z-index: 0;
    width: 125px;
    height: 120px;
    background: url('../assets/images/icon-backflower.png') no-repeat;
  }

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: -1;

    width: 91%;
    height: 100%;
    background: #ffe8f3;
  }

  .testimonial-text {
    position: relative;
    z-index: 1;

    margin-bottom: 20px;

    font-family: $font-montserrat;
    font-size: 18px;
    line-height: 1.45;
    color: $text-color;
    text-align: center;
  }

  .testimonial-image {
    position: absolute;
    bottom: -63px;
    left: 0;
    width: 100%;

    margin: auto;

    img {
      margin: 0 auto;
    }

    .testimonial-author {
      position: relative;
      z-index: 1;
      
      margin-bottom: 15px;

      font-family: $font-montserrat;
      font-size: 16px;
      font-weight: 650;
      line-height: 26px;
      color: $text-color;
      text-align: center;
    }
  }

  @media (max-width: 1440px) {
    &:before {
      bottom: -45px;
      left: 29%;
    }

    .testimonial-text {
      font-size: 14px;
    }
    
    .testimonial-image {
      bottom: -35px;

      .testimonial-author {
        font-size: 12px;
      }

      img {
        width: 70px;
      }
    }
  }

  @include respond-to(sm-down) {
    margin: 0 auto;
    max-width: 320px;
    min-height: 180px;

    .testimonial-text {
      font-size: 12px;
    }
  }
}