.alert {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;

  width: 100%;
  color: $white;
  
  &-primary {
    padding: 14px 15px;

    background-color: $brand-color;

    p {
      font-size: 17px;
      letter-spacing: .4px;
    }
  }

  &-secondary {
    padding: 16px 0;

    background-color: $dark-gray;

    .list-unstyled {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        font-family: $font-montserrat;
        font-size: 14px;
        font-weight: 400;
        
        a {
          color: $white;
        }

        .icon {
          margin-right: 8px;
        }
      }
    }
  }

  @media screen and (max-width: 1440px) {
    &-primary {
      padding: 8px 15px;

      p {
        font-size: 14px;
      }
    }

    &-secondary {
      padding: 8px 0;
      
      .list-unstyled li {
        font-size: 12px;

        a {
          width: 35px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  @include respond-to(md-down) {
    &-primary {
      p {
        max-width: 580px;
      }
    }
    
    &-secondary {
      .list-unstyled li {
        font-size: 13px;

        &:not(.d-flex) {
          display: none;
        }
      }
    }
  }

  @include respond-to(sm-down) {
    &-primary {
      p {
        font-size: 12px;
      }
    }

    &-secondary {
      .list-unstyled li {
        font-size: 10px;
      }
    }
  }

  @media screen and (max-width: 375px) {
    &-secondary {
      .list-unstyled {
        flex-direction: column;

        li:first-child {
          margin-bottom: 8px;
        }
        
        .icon {
          width: 25px;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}