.has-search {
  position: relative;
  margin-bottom: 0;

  .form-control {
    padding-right: 2.375rem;
  }

  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;

    font-size: 17px;
    color: #dadada;

    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
  }
}

.form-control,
.dropdown-item,
.custom-select {
  font-size: 13.5px;
}

.input-group {
  .btn {
    height: 100%;
  }
}

.select-group {
  position: relative;
  width: 100%;
  height: 100%;
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &:after {
    content: '\f078';
    @extend .fal;
    position: absolute;
    top: 15px;
    right: 17px;
  }
}