.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  .section-title {
    margin-bottom: 10px;

    h2 {
      margin: 0;
    }
  }
}

.section-image {
  position: relative;
  width: 585px;
  height: 540px;

  img {
    width: 100%;
    height: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 35px;
    right: -32px;
    z-index: -1;

    width: 100%;
    height: 100%;
    background: #ffe8f3;
  }
}

.accent-background {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -2;

    width: 100%;
    max-width: 1920px;
    height: 100%;

    background: url('../assets/images/pink-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@include respond-to(xs) {
  .accent-background:after {
    display: none;
  }
}