html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}

.btn,
a {
  @include transition(all 0.2s ease-in-out);
  cursor: pointer;
  
  @include on-event {
    outline: 0;
    text-decoration: none;
    @include boxshadow(none);
  }
}

img {
  display: block;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    @include boxshadow(none);
  }
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1220px;
  }
}

[data-toggle="collapse"] {
  &[aria-expanded="true"] .is-collapsed {
    display: none;
  }
  &[aria-expanded="false"] .not-collapsed  {
    display: none;
  }
}

.toggle-more {
  display: inline;
  padding: 5px 0;
  margin: 45px auto 0;
  
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  
  border-bottom: 1px solid $white;
  @include transition(all 0.2s ease-in-out);

  @include on-event() {
    color: $yellow;
    border-color: $yellow;
  }
}

hr {
  border-color: #ebebeb;
}

.bg-overlay {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.5);
  }
}

@include respond-to(sm-up) {
  .container {
    max-width: 720px;
  }
}

@include respond-to(md-up) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1290px;
  }
}

// @include respond-to(xl) {
//   .container {
//     max-width: 1290px;
//     // max-width: 1140px;
//   }
// }