//main: ../main.scss

body {
  color: $text-color;
  font: normal 125% / 1.4 $font-averta;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: $font-averta;
  padding: 0;
  margin: 0;
}

a {
  font-family: $font-montserrat;
  font-weight: 400;
  color: $brand-color;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  color: $text-color;
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  color: $black;
}

h3 {
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;

  color: #30233D;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .5px;
}

.small-title {
  display: block;
  font-family: $font-averta;
  font-weight: 400;
  font-size: 24px;

  color: $text-color;
}

.font-bold,
strong,
p > strong {
  font-weight: 700;
}

.font-semibold {
  font-weight: 650;
}

.section-title {
  display: block;
  text-align: center;

  h2 {
    margin-bottom: 7px;

    font-family: $font-montserrat;
    font-size: 40px;
    font-weight: 650;
    color: $text-color;
    letter-spacing: .85px;
  }

  &:after {
    content: url('/assets/images/icon-line.png');
  }
}

.section-description {
  font-family: $font-montserrat;
  font-size: 18px;
  font-weight: 400;
  color: $text-color;
  text-align: center;
  line-height: 1.75;
}

// @include respond-to(lg-down) {
//   h2 {
//     font-size: 36px;
//     line-height: 1.5;
//   }
// }

// @include respond-to(md-down) {
//   h2 {
//     font-size: 32px;
//   }

//   p {
//     font-size: 16px;
//   }
// }

// @include respond-to(sm-down) {
//   h3 {
//     font-size: 24px;
//   }
// }

// @include respond-to(xs) {
//   h2 {
//     font-size: 28px;
//   }
// }